@import '~bootstrap/scss/bootstrap';

$error-font-color: $red;
$success-font-color: $green;

body {
  text-align: center;

  .error {
    color: $error-font-color;
  }

  .sign-out {
    position: absolute;
    right: 50px;
    top: 35px;
  }

  .sign-out-message,
  .sign-in-message,
  .sign-up-message,
  .change-password-message {
    color: $success-font-color;
  }

}
